.fancy {
    font-style: italic ;
    color: white;
    text-align: center;
}

#head {
    color:hotpink ;
    text-align: center;
}

body {
    background-color: blueviolet;
}

#food {
    font-weight: bold;
    color: red;
}

.column {
    float: left;
    width: 25%;
    padding: 20px;
    border: solid black;
    border-width 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.photos {
    float: left;
    width 25%;
    padding; 10px;
    border; solid black;
    border-width; 10px
}