.fancy {
    font-style: italic ;
    color: white;
    text-align: center;
}

#head {
    color:hotpink ;
    text-align: center;
}

body {
    background-color: blueviolet;
}

#food {
    font-weight: bold;
    color: red;
}